@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {margin: 0; padding: 0;}
html, body {overflow-x: hidden; font-family: 'MaplestoryOTFBold';}
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
li {list-style: none;}
a {display: inline-block; text-decoration: none;}
img {width: 100%;}



#s1 img {
    width: 330px;
    height: 58px;
    position: absolute;
    left: 40%;
    top: 34%;
}

.container {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 5%;
    bottom: 10%;
}


.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

.text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}

.desk {
    width: 379px;
    height: 256px;
    position: absolute;
    background-image: url(../img/desk.png);
    z-index: 5;
    bottom: 0;
    left: 6%;
}
.desk:hover {
    width: 379px;
    height: 256px;
    position: absolute;
    background-image: url(../img/desk_active.png);
    z-index: 5;
    bottom: 0;
    left: 6%;
}
.book {
    width: 240px;
    height: 344px;
    position: absolute;
    background-image: url(../img/book.png);
    z-index: 5;
    bottom: 0;
    right: 7%;
}
.book:hover {
    width: 240px;
    height: 344px;
    position: absolute;
    background-image: url(../img/book_active.png);
    z-index: 5;
    bottom: 0;
    right: 7%;
}
.cat {
    width: 40px;
    height: 66px;
    position: absolute;
    background-image: url(../img/cat.png);
    z-index: 5;
    bottom: 1%;
    right: 43.5%;
}
.cat:hover {
    width: 40px;
    height: 66px;
    position: absolute;
    background-image: url(../img/cat_active.png);
    z-index: 5;
    bottom: 1%;
    right: 43.5%;
}
.talk {
    width: 150px;
    height: 122px;
    position: absolute;
    background-image: url(../img/talk.png);
    z-index: 5;
    bottom: 27%;
    right: 47.5%;
}
.body {
    width: 100px;
    height: 120px;
    position: absolute;
    z-index: 5;
    bottom: 15%;
    right: 53%;
}
.body:hover {
    width: 100px;
    height: 120px;
    position: absolute;
    z-index: 5;
    bottom: 15%;
    right: 53%;
    background-image: url(../img/body_active.png);
}
#audio {
    position: absolute;
    top: 2%;
    left: 1%;
    z-index: 5;
    opacity: 0.5;
}

/*프로필*/
.profile {
    width: 92%;
    height: 88%;
    position: relative;
    z-index: 101;
    background-color: rgba(255, 255, 255, 0.6);
    top: 2%;
    left: 3%;
    padding: 5%;
    box-sizing: border-box;
    display: flex;
    border: 2px ridge #222;
    box-shadow: 7px 7px 10px
}
.close {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../img/close.png);
    right: 1.5%;
    top: 3%;
}
.Count:after{
    content:"%"
}
.pic {
    margin-left: 10%;
}
.stat {
    margin-top: -1%;
    margin-left: 5%;
    width: 50%;
}
.skill {
    position: absolute;
    bottom: 25%;
    left: 13%;
}
.skill2 {
    position: absolute;
    bottom: 4%;
    left: 33%;
}
.skillbar {
    position:relative;
    display:block;
    margin-bottom:15px;
    width:100%;
    background:#eee;
    height:35px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}
.skillbar-title {
    position:absolute;
    top:0;
    left:0;
    width:140px;
    font-weight:bold;
    font-size:13px;
    color:#ffffff;
    background:#6adcfa;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    padding:0 20px;
    height:35px;
    line-height:35px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
.skillbar-bar {
    height:35px;
    width:0px;
    background:#6adcfa;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
.skill-bar-percent {
    position:absolute;
    right:10px;
    top:0;
    font-size:11px;
    height:35px;
    line-height:35px;
    color:#ffffff;
    color:rgba(0, 0, 0, 0.4);
}
.navi {
    position: absolute;
    left: 30%;
    top: 20%;
    z-index: 101;
    width: 800px;
    height: 600px;
    background-image: url(../img/navi.png);
    border: 1px solid #222;
    box-shadow: 7px 7px 10px
}
.close2 {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../img/close.png);
    right: 1.5%;
    top: 3%;
}




.webpf {
    width: 92%;
    height: 88%;
    position: relative;
    z-index: 101;
    background-color: black;
    top: 2%;
    left: 3%;
    box-sizing: border-box;
    display: flex;
    border: 2px ridge #222;
    box-shadow: 7px 7px 10px;
    justify-content: space-between;
}
.close3 {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../img/close.png);
    right: 1.5%;
    top: 3%;
    opacity: 1;
    z-index: 10;
}
.webpf h1 {font-size: 25px;}
.webpf h3 {font-size: 20px;}
.webpf h2 {font-size: 19px; opacity: 0.5; color: rgba(0, 0, 0, 0.7); text-shadow: 1px 1px 1px #fff;}
.webpf a {
    font-size: 19px;
    margin-top: 10%;
}
.webpf a:hover {opacity: 1;}
.webpf h2:hover {opacity: 1;}
.webpf ul {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.webpf p {
    margin-top: 10%;
    line-height: 28px;
}
.webpf p a {
    opacity: 0.5;
}
.webpf ul li {
    text-align: center;
    float: left;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    border-top: 3px solid black;
    opacity: 0.3;
}
.webpf ul li:hover {
    border-top: 3px solid chocolate;
    opacity: 1;
}
.webpf ul li:first-child {
    background-color: rgb(75, 62, 52);
    padding: 20px;
}
.webpf ul li:first-child a {color: ivory; text-shadow: 1px 1px 1px black;}
.webpf ul li:first-child h3 {color: ivory; text-shadow: 1px 1px 1px black;}
.webpf ul li:first-child h1 {color: ivory; padding: 3%; text-shadow: 1px 1px 1px black;}
.webpf ul li:first-child p {color: ivory; padding: 3%; font-size: 17px; text-shadow: 1px 1px 1px black;}
.logo_lab {
    width: 70%;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
}




.webpf ul li:nth-child(2) {
    background-color: #1b1b1b;
    padding: 20px;
}
.logo_gucci {
    width: 60%;
    margin: 0 auto;
    margin-top: 21%;
    margin-bottom: 10%;
}
.webpf ul li:nth-child(2) a {color: rgba(255, 255, 255, 0.9); text-shadow: 1px 1px 1px black;}
.webpf ul li:nth-child(2) h3 {color: rgba(255, 255, 255, 0.9); text-shadow: 1px 1px 1px black;}
.webpf ul li:nth-child(2) h1 {color: rgba(255, 255, 255, 0.9); padding: 3%; text-shadow: 1px 1px 1px black;}
.webpf ul li:nth-child(2) p {color: rgba(255, 255, 255, 0.9); padding: 3%; font-size: 17px; text-shadow: 1px 1px 1px black;}


.webpf ul li:nth-child(3) {
    background-image: url(../img/bg4.png);
    background-color: silver;
    padding: 20px;
}
.webpf ul li:nth-child(3) h3 {margin-top: -4%;}
.logo_hk {
    width: 80%;
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom: 10%;
}
.webpf ul li:nth-child(3) a {color: black;}
.webpf ul li:nth-child(3) h3 {color: black; text-shadow: 1px 1px 1px #fff;}
.webpf ul li:nth-child(3) h1 {color: black; padding: 3%; text-shadow: 1px 1px 1px #fff;}
.webpf ul li:nth-child(3) p {color: black; padding: 3%; font-size: 17px; text-shadow: 1px 1px 1px #fff;}

.webpf ul li:nth-child(4) {
    background: #90d8cc; /* Old browsers */
    background: -moz-linear-gradient(top,  #90d8cc 0%, #d9c792 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #90d8cc 0%,#d9c792 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #90d8cc 0%,#d9c792 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90d8cc', endColorstr='#d9c792',GradientType=0 ); /* IE6-9 */
    padding: 20px;
}
.logo_fender {
    width: 40%;
    margin: 0 auto;
    margin-top: 6%;
    margin-bottom: 10%;
}
.webpf ul li:nth-child(4) a {color: rgb(20, 20, 20); text-shadow: 1px 1px 1px #ececec;}
.webpf ul li:nth-child(4) h3 {color: rgb(20, 20, 20); text-shadow: 1px 1px 1px #ececec;}
.webpf ul li:nth-child(4) h1 {color: rgb(20, 20, 20); padding: 3%; text-shadow: 1px 1px 1px #ececec;}
.webpf ul li:nth-child(4) p {color: rgb(20, 20, 20); padding: 3%; font-size: 17px; text-shadow: 1px 1px 1px #ececec;}

.webpf ul li:nth-child(5) {
    background-color: #fff;
    padding: 20px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 28px;
    text-shadow: 1px 1px 1px #fff;
    font-size: 17px;
}
.logo_ctk {
    width: 65%;
    margin: 0 auto;
    margin-top: 22%;
    margin-bottom: 10%;
}
.webpf ul li:nth-child(5) a {color: rgba(0, 0, 0, 0.7); text-shadow: 1px 1px 1px #fff; opacity: 0.5;}
.webpf ul li:nth-child(5) a:hover {opacity: 1;}
.webpf ul li:nth-child(5) h3 {color: rgba(0, 0, 0, 0.7);}
.webpf ul li:nth-child(5) h1 {color: rgba(0, 0, 0, 0.7); padding: 3%;}
.webpf ul li:last-child p {padding: 3%; font-size: 17px;}


.editpf {
    top: 0;
    left: 2.5%;
    width: 92%;
    height: 89%;
    position: relative;
    z-index: 101;
    box-sizing: border-box;
}
.swiper {
    box-shadow: 7px 7px 10px;
}
.close4 {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../img/close.png);
    right: 4.7%;
    top: 5%;
    z-index: 102;
}
.swiper {
    width: 92%;
    height: 100%;
    background: #000;
}

.swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
}
.swiper-button-next, .swiper-button-prev {
    color: #fff;
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
}

.swiper-slide .subtitle {
    font-size: 21px;
}

.swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
}


.title {
    text-shadow: 5px 5px 5px black;
}
.subtitle {
    width: 650px;
    margin-top: 30px;
    position: relative;
}
.subtitle ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.subtitle ul li {
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
    margin: 6px 4px;
    border: 3px solid #fff;
    box-shadow: 8px 8px 10px black;
}
.subtitle ul li a {
    width: 200px;
    height: 150px;
}
.b1 {background-image: url(../img/edit/p1_weped.jpg);}
.b2 {background-image: url(../img/edit/p2_ek.png);}
.b3 {background-image: url(../img/edit/p3_primal.jpg);}
.b4 {background-image: url(../img/edit/p4_game.jpg);}
.b5 {background-image: url(../img/edit/p5_gucci.jpg);}
.b6 {background-image: url(../img/edit/p6_lays.png);}
.b7 {background-image: url(../img/edit/p7_fila.png);}
.b8 {background-image: url(../img/edit/p8_review.png);}
.b9 {background-image: url(../img/edit/p9_sale.png);}
.b10 {background-image: url(../img/edit/p10_skin.jpg);}
.b11 {background-image: url(../img/edit/p11_wonder.jpg);}
.b12 {background-image: url(../img/edit/p12_winter.png);}

.phone_frame {
    display: none;
    position: absolute;
    width: 800px;
    height: 700px;
    background-image: url(../img/frame.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    top: 12%;
    box-shadow: 8px 8px 10px black;
}
.content {
    transition: all 0.3s;
    background-image: url(../img/edit/p1_weped.jpg);
    width: 640px;
    height: 640px;
    margin-top: 30px;
    margin-left: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.p1 {background-image: url(../img/mockup/book_mockup1.jpg);}
.p2 {background-image: url(../img/mockup/book_mockup2.jpg);}
.p3 {background-image: url(../img/mockup/book_mockup3.jpg);}
.p4 {background-image: url(../img/mockup/CD_mockup1.png);}
.p5 {background-image: url(../img/mockup/CD_mockup2.png);}
.p6 {background-image: url(../img/mockup/MOVIE_mockup1.png);}
.p7 {background-image: url(../img/mockup/MOVIE_mockup2.png);}
.p8 {background-image: url(../img/mockup/RIP_mockup1.png);}
.p9 {background-image: url(../img/mockup/RIP_mockup2.png);}
.p10 {background-image: url(../img/mockup/RIP_mockup3.png);}
.p11 {background-image: url(../img/mockup/RIP_mockup4.png);}
.p12 {opacity: 0;}

.phone_frame2 {
    display: none;
    position: absolute;
    width: 800px;
    height: 700px;
    background-image: url(../img/frame.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    top: 12%;
    box-shadow: 8px 8px 10px black;
}
.content2 {
    transition: all 0.3s;
    background-image: url(../img/mockup/book_mockup1.jpg);
    width: 640px;
    height: 640px;
    margin-top: 30px;
    margin-left: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.i1 {background-image: url(../img/illust/rabbit.png);}
.i2 {background-image: url(../img/illust/catNcar.png);}
.i3 {background-image: url(../img/illust/siva.png);}

.phone_frame3 {
    display: none;
    position: absolute;
    width: 800px;
    height: 700px;
    background-image: url(../img/frame.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    top: 12%;
    box-shadow: 8px 8px 10px black;
}
.content3 {
    transition: all 0.3s;
    background-image: url(../img/illust/rabbit.png);
    width: 640px;
    height: 640px;
    margin-top: 30px;
    margin-left: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#s3 {
    position: relative;
    background-image: url(../img/s3bg.png);
}
.contact_wrap {
    width: 100%;
    height: 100%;
}
.scroll {
    position: absolute;
    top: 40%;
    left: 45%;
    animation: moving 3s ease infinite;
}
@keyframes moving {
    0% {transform: rotate(-11deg);}
    50% {transform: rotate(-6deg);}
    100% {transform: rotate(-11deg);}
}

.map {
    position: absolute;
    top: 2%;
    left: 20%;
    width: 1164px;
    height: 900px;
    background-image: url(../img/map2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}
.close5 {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../img/close.png);
    right: 5%;
    top: 12%;
    z-index: 102;
}
.kick {
    width: 450px;
    position: absolute;
    top: 29%;
    left: 28.5%;
    z-index: 1;
    opacity: 1;
}
.loc {
    position: absolute;
    top: 46%;
    right: 26.5%;
    z-index: 1;
    opacity: 1;
    box-shadow: 7px 7px 10px
}
.kick img {
    box-shadow: 7px 7px 10px
}
.contact {
    color: black;
    position: absolute;
    top: 64%;
    left: 31%;
}
.contact2 {
    color: black;
    position: absolute;
    top: 23%;
    right: 28%;
    font-size: 13px;
}
.contact2 a {
    position: relative;
    display: inline-block;
    color: black;
    text-transform: uppercase;
    transition: 0.8s;
}
.contact2 a::after {
    position: absolute;
    content: "";
    top: 90%;
    left: 0;
    width: 100%;
    height: 10px;
    background: #2DB400;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.8s;
    -webkit-transform: scaleX(0);
    -webkit-transition: transform 0.8s;
}
.contact2 a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    -webkit-transform: scaleX(1);
    -webkit-transform-origin: left;
}